.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: scroll;
    max-height: 500px;
    padding: 0 16px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 60px;
    width: 100%;

    &_text {
      composes: text text_type_digits-default mr-2 from global;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  ::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
  }
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
