.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;

  &__list {
    overflow-y: scroll;
    max-height: 500px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 60px;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  ::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
  }
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
