.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 860px;
  width: 100%;
  gap: 60px;
  margin-top: 120px;
  align-self: flex-start;

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .list {
    margin-bottom: 80px;

    li:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.text {
  composes: text text_type_main-medium text_color_inactive pb-6 from global;
  cursor: pointer;
}

.active {
  composes: text text_type_main-medium pb-6 from global;
  cursor: pointer;
}

.inActive {
  composes: text text_type_main-medium text_color_inactive pb-6 from global;
  cursor: pointer;
}

form {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
