.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 180px auto;
}

.link {
  text-decoration: none;
  composes: text text_type_main-default from global;
  line-height: 24px;
  text-align: center;
  color: #4c4cff;
  cursor: pointer;
}
