.link__active {
  composes: text text_type_main-medium from global;
  cursor: pointer;
}

.link__inActive {
  composes: text text_type_main-medium text_color_inactive from global;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.link {
  composes: text text_type_main-medium text_color_inactive from global;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
