.container {
  &__header {
    composes: text text_type_main-large mb-5 mt-10 from global;
  }

  &__menu {
    display: flex;
    flex-direction: row;
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    width: 100%;
  }

  &__list {
    max-height: 600px;
    overflow-y: scroll;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  ::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
  }
}
