.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  height: 88px;
  margin: 0 auto;
  box-sizing: border-box;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.link {
  text-decoration: none;
  composes: text text_type_main-default from global;
  cursor: pointer;
}
